<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SpringBoot Shiro测试</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>
<body>
<blockquote class="layui-elem-quote">主页</blockquote>

<div id="main-content" class="container">
    <div class="row">
   <!--  <shiro:guest>
            <a>登录</a> <a>注册</a>
        </shiro:guest>
        <shiro:user>
            欢迎<shiro:principal property="name"/>
        </shiro:user>
        <shiro:>
            欢迎<shiro:principal property="name"/>
        </shiro:>-->
        <p shiro:user="">
            Welcome back John! Not John? Click <a href="login.html">here</a> to login.
        </p>
        <br>
        <p shiro:notAuthenticated="">
            未身份验证（包括记住我）
        </p>
        <p shiro:guest=""><span style="white-space:pre;">guest </span></a> </p>
        <br>
        <p shiro:user><span style="white-space:pre;">用户：： user</span></a> </p>
    </div>

    <a href="/webSocket" class="btn-primary">webscoket</a>
</div>

</body>
</html>
